#homeContainer {
  max-width: 733px;
  background: #fff;
  margin: 150px auto 0 auto;
  padding: 10px;
}

.card {
  width: 150px;
  height: 150px;
  background: #007bff;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.card a {
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 40%;
}