#loginForm {
  background: #fff;
  margin: 80px auto 0 auto;
  -webkit-box-shadow: 3px 4px 33px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 4px 33px -1px rgba(0,0,0,0.35);
  box-shadow: 3px 4px 33px -1px rgba(0,0,0,0.35);
  padding: 20px;
  width: 400px;
}

#loginForm div {
  margin-top: 10px;
}

#loginForm div label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

#loginForm div input {
  display: block;
  width: 380px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #999;
}

.login-btn {
  width: 400px !important;
  padding: 15px !important;
  font-size: 1em;
}
